/* 重置默认样式属性 */
*{
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px dotted red; */
}
body{
  font: 14px/1.5 Arial, sans-serif;
  color: #333;
  background: #fff;
  text-align: center;
}
@font-face {
  font-family: 'iconfont';  /* project id 487447 */
  src: url('//at.alicdn.com/t/font_487447_q6ushptbievcxr.eot');
  src: url('//at.alicdn.com/t/font_487447_q6ushptbievcxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_487447_q6ushptbievcxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_487447_q6ushptbievcxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_487447_q6ushptbievcxr.svg#iconfont') format('svg');
}
.icon {
  font-family:"iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon1:before{
  content:'\e60a';
}
.icon2:before{
  content:'\e608';
}
.icon3:before{
  content:'\e63a';
}
.icon4:before{
  content:'\e600'
}
ul,li{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;/* 从父容器继承颜色 */
}
.clearfix::after{
  content:'';
  display: block;
  clear: both;
}
p {
  color: #777;
  font: 1.2em/1.5 Georgia, serif;
}
h2 {
  font-size: 3em;
  margin-bottom: 0;
}

h2 + p {
  font-style: italic;
}
.layout{
  max-width: 1200px;
  margin: 0 auto;
}
.gray{
  background: #f7f7f7;
}
/* 导航条样式 */
header {
  position: fixed;/* 根据浏览器窗口定位 不占用文档流位置*/
  width: 100%;
  top: 0;
  left: 0;
  background: #333;
  padding: 8px;
  z-index: 1;
}
.nav .logo{
  float:left;
  color:#fed136;
  font-weight: bold;
  padding: 16px;
  font-size: 24px;
}
.nav .nav-bar{
  float: right;
  color: #fff;
  padding: 16px 0;
}
.nav>.nav-bar>a{
  float: left;
  padding: 16px 32px;
}
.nav>.nav-bar>a:hover{
  color: #fed136;
}

section {
  padding: 110px 0;
}

/* banner样式 */
#banner{
  color: #fff;
  padding: 200px 0;
  background: no-repeat url(https://i.loli.net/2018/03/21/5ab25b57eceb7.jpg);
  background-size: cover;
} 
#banner p{
  font-size: 3em;
  font-family: Georgia;
}
#banner h1{
  font-size: 4em;
  margin-top: 40px;
}
#banner a{
  display: inline-block;
  margin-top: 50px;
  padding: 16px 32px;
  background: #fed136;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 5px;
}
#banner a:hover{
  background: #fec503;
}

/* services样式 */

#services ul{
  margin-top: 50px;
  display: inline-block;
}
#services li{
  float: left;
  max-width: 250px;
  margin: 10px 50px; 
}
#services .circle{
  position:relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #fed136;
  border-radius: 50%;
}
#services .icon{
  position:absolute;
  left: 50px;
  top: 50px;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 60px;
}
#services .icon2 {
  font-size: 48px; 
}

#services h3{
  margin-top: 10px;
}

/* portfo样式 */
#portfo ul {
  margin-top: 30px;
}
#portfo li {
  float: left;
  max-width:360px;
  margin-left: 30px;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0px 3px 3px #eee;
}
#portfo a {  
  position:relative;
  display:block;
}
#portfo img {
  max-width: 100%;
  display: block;
}
#portfo .hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(254,209,54,.9);
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
}
#portfo .hover:hover {
  opacity:0.9;
}
#portfo .hover::before{
  content:'';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.icon4{
  vertical-align: middle;
  font-size: 100px;
  color: #fff;
}

#portfo h3{
  margin: 10px;
}
#portfo h3 + p {
  font-style: italic;
  margin-bottom: 20px;
}

/* about css样式 */
.stage1 {
  margin-top: 80px;
}
.stage4 {
  margin-bottom: 180px;
}
.stage1,
.stage3 {
  position: relative;
  text-align: right;
  width: 50%; 
  padding-right: 120px;
  border-right: 2px solid #ddd;
  padding-bottom: 100px;
}
.stage2,
.stage4 {
  position: relative;
  top: 0;
  left: 50%;
  text-align: left;
  width: 50%;
  padding-left: 120px;
  border-left: 2px solid #ddd;
  padding-bottom: 100px;
}
#about img {
  position: absolute;
  top: 0; 
  width: 150px;
  border: 7px solid #eee;
  border-radius: 50%; 
} 
.stage1 img,
.stage3 img {
  right: -75px;
}
.stage2 img,
.stage4 img {
  left: -75px;
} 

.stage4 h3:last-child {
  position: absolute;
  top: 100%;
  left: -75px;
  width: 150px;
  height: 150px;
  border: 7px solid #eee;
  border-radius: 50%;
  background: #fed136;
  color: #fff;
  font-size: 1.2em;
  margin: 0;
  padding: 30px;
  text-align: center;
}
/* team css样式 */
#team ul{
  margin: 60px 0;
}
#team li {
  width: 260px;
  float: left;
  margin-left: 105px;
  margin-top: 20px;
}
#team img {
  border: 7px solid #fff;
  border-radius: 50%;
}
.icon-twitter:before{
  content:'\ec9c';
}
.icon-facebook:before{
  content:'\e603';
}
.icon-ins:before{
  content:'\e650';
}
.button:hover{
  background-color:#fec503;
}
.button{
  border-radius: 50%;
  display:inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  margin: 0 5px;
}
#team p:last-child{
  width: 50%;
  margin: 0 auto;
}
/* customers css样式 */
#customers {
  padding: 50px 0;
}

#customers a {
  width: 20%;
  display: inline-block; 
}

/* contact css样式 */
#contact {
  background: #222 no-repeat url(https://i.loli.net/2018/03/21/5ab2719abb7a3.png) center;
}
#contact h2,
#contact h2 + p {
  color: #fff;
}
#contact form {
  margin-top: 80px;
}
#contact input,
#contact textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#contact textarea {
  width: 47%;
  height: 210px;
  float: right;
}
#contact input {
  display: block;
  width: 47%;
  height: 50px;
  margin-bottom: 30px;
}
#contact input[type="submit"] {
  display: inline-block;
  width: auto;
  height: auto;
  background: #fed136;
  color: #fff;
  padding: 16px 32px;
  font-size: 1.4em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
#contact input[type="submit"]:hover {
  cursor: pointer;
  background: #fec503;
}
input:focus,
textarea:focus {
  border: 1px solid #fed136;
  outline: 0;
}

/* footer css样式 */
footer {
  padding: 20px 0px;
}
.copyright,
.share,
.statements {
  width: 260px;
  margin: 0px 65px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
}
.statements a {
  color: #fed136;
}
.statements a:hover {
  text-decoration: underline;
}

 



